<p>
  experiencia-laboral works!
</p>

<ion-item>
  <ion-input label="Default input"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Empresa:" placeholder="Escribe tu empresa"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Año de inicio" placeholder="Escribe el año en el que iniciaste"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Actualmente trabajas?" placeholder="V/F"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Año de termino" placeholder="Escribe el año de termino (solo si ya no trabaja)"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Cargo" placeholder="Selecciona tu cargo"></ion-input>
</ion-item>


<!-- S -->

<ion-item>
  <ion-label position="floating">Nombre: </ion-label>
  <ion-input type="text" minlength="3" maxlength="8" placeholder="Ingrese su nombre" [(ngModel)]="nombre"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Apellido: </ion-label>
  <ion-input type="text" minlength="3" maxlength="8" placeholder="Ingrese su apellido" [(ngModel)]="apellido"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Nivel de educación:</ion-label>
  <ion-select [(ngModel)]="nivelEducacion">
    <ion-select-option value="Educacion basica incompleta">Educacion basica incompleta</ion-select-option>
    <ion-select-option value="Educacion basica completa">Educacion basica completa</ion-select-option>
    <ion-select-option value="Educacion media incompleta">Educacion media incompleta</ion-select-option>
    <ion-select-option value="Educacion media completa">Educacion media completa</ion-select-option>
    <ion-select-option value="tecnico">tecnico</ion-select-option>
    <ion-select-option value="universitario">universitario</ion-select-option>
    <ion-select-option value="postgrado">postgrado</ion-select-option>
    <ion-select-option value="Otro">Otro</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="floating">Fecha nacimiento:</ion-label>
  <ion-input type="date" minlength="3" maxlength="8" placeholder="Ingrese su fecha de nacimiento" [(ngModel)]="fechaNacimiento"></ion-input>
</ion-item>

<ion-button color="primary" (click)="limpiarFormulario()">Limpiar</ion-button>
<ion-button color="primary" (click)="mostrarPopup()">Mostrar</ion-button>

</ion-content>
