<p>
  experiencia-laboral works!
</p>

<ion-item>
  <ion-input label="Default input"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Empresa:" placeholder="Escribe tu empresa"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Año de inicio" placeholder="Escribe el año en el que iniciaste"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Actualmente trabajas?" placeholder="V/F"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Año de termino" placeholder="Escribe el año de termino (solo si ya no trabaja)"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Cargo" placeholder="Selecciona tu cargo"></ion-input>
</ion-item>

