
<ion-header>
  <ion-toolbar>
    <ion-title>Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating" style="margin-bottom: 10px;">Nombre: </ion-label>
        <ion-input type="text" minlength="3" maxlength="8" placeholder="Ingrese su nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item style="margin-bottom: 20px;">
        <ion-label position="floating" style="margin-bottom: 10px;">Apellido: </ion-label>
        <ion-input type="text" minlength="3" maxlength="8" placeholder="Ingrese su apellido" [(ngModel)]="apellido"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Nivel de educación:</ion-label>
        <ion-select [(ngModel)]="nivelEducacion">
          <ion-select-option value="Educacion basica incompleta">Educacion basica incompleta</ion-select-option>
          <ion-select-option value="Educacion basica completa">Educacion basica completa</ion-select-option>
          <ion-select-option value="Educacion media incompleta">Educacion media incompleta</ion-select-option>
          <ion-select-option value="Educacion media completa">Educacion media completa</ion-select-option>
          <ion-select-option value="tecnico">tecnico</ion-select-option>
          <ion-select-option value="universitario">universitario</ion-select-option>
          <ion-select-option value="postgrado">postgrado</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="margin-bottom: 15px;">Fecha nacimiento:</ion-label>
        <ion-input type="date" minlength="3" maxlength="8" placeholder="Ingrese su fecha de nacimiento" [(ngModel)]="fechaNacimiento"></ion-input>
      </ion-item>
    </ion-list>

    <form (ngSubmit)="onSubmit()">
      <!-- ...resto del formulario... -->
      <ion-button expand="full" type="submit">Enviar</ion-button>
    </form>

    <!-- Prueba estatica -->
    <div>prueba: {{ prueba }}</div>

        <!-- Prueba dinamica -->
    <div>mi nombre: {{ nombre }}</div>
    <div>mi apellido: {{ apellido }}</div>
    <div>nivel de educacion: {{ nivelEducacion }}</div>
    <div>fecha de nacimiento: {{ fechaNacimiento }}</div>


  </form>
</ion-content>

