<!-- (8) MIS DATOS -->

<ion-segment [(ngModel)]="segmentValue">
  <ion-segment-button value="primero">
    <ion-label>Mis datos</ion-label>
  </ion-segment-button>

  <!-- (8) CERTIFICACIONES -->

  <ion-segment-button value="segundo">
    <ion-label>Certificacion</ion-label>
  </ion-segment-button>

  <!-- (8) EXPERIENCIA -->

  <ion-segment-button value="tercero">
    <ion-label>Experiencia</ion-label>
  </ion-segment-button>
</ion-segment>

<!-- (8) MIS DATOS -->

<div [ngSwitch]="segmentValue">
  <app-mis-datos *ngSwitchCase="'primero'"></app-mis-datos>

  <!-- (8) CERTIFICACIONES -->

  <app-certificaciones *ngSwitchCase="'segundo'"></app-certificaciones>

  <!-- (8) EXPERIENCIA -->

  <app-experiencia-laboral *ngSwitchCase="'tercero'"></app-experiencia-laboral>
</div>



<!-- Prueba exitosa: enviar algo estatico -->
<!-- <app-mis-datos prueba="Probando"></app-mis-datos> -->



